<dx-form  >
    <dxi-item
        itemType="group"
        caption="Change Passord">
            <dxi-item dataField="password">
              <dx-text-box name="Login" [(ngModel)]="oldPass">
                <dx-validator>
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dx-validator>
          </dx-text-box>
            </dxi-item>
            <dxi-item dataField="New password">
              <dx-text-box name="Login" [(ngModel)]="newPass">
                <dx-validator>
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dx-validator>
          </dx-text-box>
            </dxi-item>
            <dxi-item dataField="confirm password">
              <dx-text-box name="Login" [(ngModel)]="confirmPass">
                <dx-validator>
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dx-validator>
          </dx-text-box>
            </dxi-item>
            <dxi-item>
             <dx-button text="Loggin" type="success" routerLink="/login"></dx-button>
             <dx-button text="Back" icon="back"  routerLink="/login"></dx-button>
            </dxi-item>
            <dxi-item>

            </dxi-item>
    </dxi-item>
</dx-form>
